.popover {
    position: absolute;
    z-index: 10;
    background: white;
    transform: translate(0%,0%);
    border-radius: 6px;
    border: 1px solid #ddd;

    text-align: left;

    width: 200px;
    padding: 16px;
    font-size: 0.8em;
}

.row {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_severe {
        background: pink;
        // border-bottom: 2px solid red;
        border-radius: 50%;
        box-shadow: 0 0 0 2px salmon;
    }

    img {
        width: 60%;
        height: 60%;
    }
}