.Button {
    font-size: 1.2em;
    border-radius: 6px;
    background: aquamarine;
    color: purple;
    padding: 16px 16px;
    border: none;
    cursor: pointer;
    margin: 16px 0;
}
.Button:hover {
    background: purple;
    color: aquamarine;
}