@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, button, input {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    margin: 20px 30px;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.9em;
}

input {
    display: block;
}
input:read-only {
    background: #eee;
}

a, a:visited, a:link, a:focus, a:hover {
    color: blueviolet;
}
a:hover {
    opacity: 0.6;
}

.paragraph {
    max-width: 600px;
}